{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Hi, I'm Emile.</h1>
        <p class="lead text-muted">I'm interested in how we perceive, measure and interpret the world around us. I make things with Python and Django. Tech minimalist and sustainability person.</p>
        <p>
          <a href="mailto:durhamemile@gmail.com" class="btn btn-primary my-2">Email me</a>
        </p>
        <img class="rounded" src="{% static 'emile_2020.jpeg' %}" height="300" width="auto">
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for job in jobs %}
        <div class="col">
          <div class="card shadow-sm">
           <a href="{{ job.url }}"><img class="card-img-top img-fluid" src="{{ job.image.url }}" width="auto" height="auto"></a>
            <div class="card-body">
              <p class="card-text">{{ job.summary }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>
{% endblock %}
