{% extends 'blog/base.html' %}
{% block title %}<title>{{ detail_blog.title}}</title>{% endblock %}
{% block content %}
<main>

    <div class="text-center container">
        <br>
        <br>

       <h1>{{ detail_blog.title }}</h1>
        <p>{{ detail_blog.pub_date }}</p>
        <img class="rounded img-fluid" src="{{ detail_blog.image.url}}" height="auto" width="600">
        <br>
        <br>
        <br>
        <p>{{ detail_blog.body }}</p>
        <br>
        <br>
    </div>
</main>


{% endblock %}
